/* Chart CSS */
.chart-card .card-header {
    display: block;
}
.chart-card .btn {
    padding: 0.45rem 0.5rem 0.45rem 1rem;
}
.chart-card .btn.filter-btn {
    padding: 0.45rem 1.5rem;
}

.chart-card .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
    max-width: 120px;
}


span.blinking,
span.blinking * {
    font-weight: 600;
    animation: color-change 1s linear infinite;
    -webkit-animation: color-change 1s linear infinite;
}

@keyframes color-change {
    0% {
        color: var(--default-color);
    }

    30% {
        color: var(--primary-color);
    }

    100% {
        color: var(--primary-color);
    }
}
